#####################
# Main requirements #
#####################
# TensorFlow (please see installation instructions here: https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html)
tensorflow==0.10.0rc0

# NumPy
numpy==1.11.1

# Six for python2/3 compatibility
six==1.10.0

#########################
# Optional requirements #
#########################
# Pillow is the successor to PIL for image processing
Pillow==3.3.1
# PyYAML for YAML parsing capability
PyYAML==3.12
# Bokeh for plotting (with bokeh-server)
bokeh==0.12.1
# NLTK for nlp tasks (like word tokenization)
nltk==3.2.1